.title {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: pink;  
    font-size: 55px;
    background-color: gray;
}

#link {
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    color: pink;
    font-size: 45px; 
    text-align: center;
    font-weight: 800;
    background-color: black; 
}