.title {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: rgba(255, 166, 0, 0.87);  
    font-size: 55px;
    background-color: peachpuff; 
    display: block; 
    padding: 8px; 
    margin-top: 24px;
    margin-bottom: 18px; 
    text-align: center; 
}

#link {
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    color: pink;
    font-size: 45px; 
    text-align: left; 
    font-weight: 800;
    background-color: white; 
    display: block; 
    border: 2px;
    border-color:rgb(180, 2, 250); 
    padding: 8px; 
}

.h2 {
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 20px;
    color: orange;
    display: block;
    border: 2px;
    border-color: red; 
    background-color: peachpuff;
    padding: 8px; 
    margin: auto; 
}